{% extends 'base.html' %}

{% block main %}

    <h1 class="mt-5">Garmin Health API</h1>

    {% if not request.user.is_authenticated %}
        <div class="row">
            <div class="col-md">
                <p>
                    Connect to your <i>Open Humans</i> account to store location data from the <i>Garmin Health API</i>.
                </p>
                <a href="{{ auth_url }}" class="btn btn-primary">Connect to Open Humans</a>
            </div>
            <div class="col-md">
                <h2>What is the <i>Garmin Health API</i>?</h2>
                <p>
                    The Garmin Health API contains data collected by Garmin smart and sport watches. This data includes the number of steps,
                    your average heart rate, your sleep... For a complete list of data types available through the API, we refer to <a
                        href="https://developer.garmin.com/gc-developer-program/health-api/">this
                    list</a>, the list of supported devices can be found <a href="https://developer.garmin.com/health-sdk/overview/">here</a>.
                </p>

                <h2>What does this website do?</h2>
                <p>
                    If you log in with your <i>Open Humans</i> account you can use this app to transfer your <i>Garmin Health API</i> location data to your <i>Open Humans</i> account.
                </p>
                <p>This project is run by <a href="https://openhumansfoundation.org/">the Open Humans Foundation</a> and governed by the
                    <a href="https://www.openhumans.org/terms/">Open Humans terms of use</a>.
                </p>
                <p>
                    You can read more about its code, operation, and data management in our <a href='{% url 'about' %}'>About/FAQ page</a>.</p>
                <h2>Will <i>Open Humans</i> make my data publicly available?</h2>
                <p>
                    The short answer: No.<br>
                    The long answer: Data is private by default. If you want to, you can opt to make data sets publicly available on <i>Open Humans</i> and/or share it with other projects, but you can
                    always keep data private.
                </p>
            </div>
        </div>
    {% else %}

        <div class="row">
            <div class="col-md">
                {% if is_garmin_member %}
                    <p>Your account has been connected to Garmin Health.</p>

                    {% if has_data %}

                        <p class="mt-5">
                            We have synced the following data from Garmin:
                        </p>

                        <table class="table mt-3">
                            <tr>
                                <th>
                                    Data type
                                </th>
                                <th>
                                    Earliest date
                                </th>
                                <th>
                                    Latest date
                                </th>
                            </tr>

                            {% for data in retrieved_data %}
                                <tr>
                                    <td> {{ data.data_type }} </td>
                                    <td> {{ data.min_date }} </td>
                                    <td> {{ data.max_date }} </td>
                                </tr>
                            {% endfor %}

                        </table>

                    {% else %}

                        We have not yet retrieved any data from the Garmin Health API. It takes a couple of minutes after connecting your account to retrieve the data.

                    {% endif %}

                    <p class="mt-5">
                        If some data is missing, you can try to re-connect your account. This will restart the synchronisation process.
                    </p>

                    <a href="/garmin/authorize/" class="btn btn-primary">Re-connect account</a>

                {% else %}
                    <p>Your Open Humans account is not yet connected to your Garmin account.</p>
                    <a href="/garmin/authorize/" class="btn btn-primary">Connect to Garmin Health</a>

                {% endif %}
            </div>

            {% load static %}
        </div>


    {% endif %}

{% endblock main %}
